@import './screens/app';
@import './components/structure';

*{
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

#root{
  height: 100%;
}